body {
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Source Code Pro', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.nabla-font {
            font-family: "Nabla", system-ui;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings:
                    "EDPT" 100,
                    "EHLT" 12;
}

.primary-logo-text {
    font-size: 4rem;
}

